
<%#= javascript_include_tag "jquery.validate"%>


<% provide(:title, '') %>

<div class="span5 offset2">
  <h3>Create products</h3>


  <%= form_for @product,:url => { :action => "create" }, :method => :post, :html => { :class => 'form-horizontal new_product' }  do |f| %>
       <%= render :partial => 'admin/shared/error_messages' %>


      <div class="control-group">
        <%= f.label :name, "Name", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :price, "Price", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :price, :class => "my_price" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :publish_date, "Publish Date", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :publish_date, :id => "calender", :placeholder => "dd/mm/yy" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :product_image, "Product Image", :class => 'control-label' %>
        <div class="controls">
          <%= f.file_field :product_image, :class => 'file_field' %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.submit 'create', :class => "btn btn-large btn-primary" %>
        </div>
      </div>

  <% end %>
</div>

<script type="text/javascript">

</script>


