<div class="row">
  <div class="code span14 offset 13"><h2>Products</h2></div>
</div>
<br>
<div class="flash_message">added successfully</div>
<div>
  <%= link_to "view cart/", carts_path() %><div class= "count"></div>
  <!--<div><%#= @count %></div>-->
  <table class="table table-hover">
    <tr>
      <th>PRODUCTS</th>
      <th></th>
    </tr>
    <% @products.each do |product| %>

        <%= form_for @order, :remote => true do |f| %>
            <tr>
              <td>
                <div class="control-group">
                  <%= link_to image_tag(product.product_image.thumb.url) %>
                </div>
              </td>
              <td>
                <div class="control-group">
                  <%= product.name %>
                </div>
              </td>
              <td>
                <%= f.fields_for :line_items do |form| %>
                    <%= form.number_field :product_quantity %>
                    <%= form.hidden_field :product_id, :value => product.id %>
                <% end %>
              </td>
              <td>
                <div class="control-group">
                  <span></span>
                  <%= f.submit 'add cart', :class => "btn btn-small btn-primary", :id => "flash" %>

                </div>
              </td>
            </tr>
        <% end %>

    <% end %>
    <tr></tr>
    <tr></tr>
  </table>

</div>